<!DOCTYPE html>
<html ng-app="qrHunt" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
                    ng-click="menuCollapsed = ! menuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-qrcode"></i> QRHunt</a>

            <p class="navbar-text" ng-show="player.alias">Hi {{player.alias}}</p>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
            <form class="navbar-form navbar-left" role="" ng-hide="player.alias">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Set Your Alias" ng-model="playerName">
                </div>
                <button type="submit" class="btn btn-default btn-primary" ng-click="savePlayer(playerName)">Save
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active" ng-click="menuCollapsed=true">
                    <a href ui-sref="home">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="leaderboard" ng-click="menuCollapsed=true">
                        <i class="fa fa-users"></i>
                        Leaderboard
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="scan" ng-click="menuCollapsed=true">
                        <i class="fa fa-mobile-phone"></i>
                        My Scans
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="about" ng-click="menuCollapsed=true">
                        <i class="fa fa-question"></i> &nbsp;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container" ui-view="main"></div>

<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <a href="http://www.jcu.edu.au/" target="_blank" rel="JCU Website" class="pull-right"><img src="./assets/jcu_logo_mono.png"/></a>
        </div>
    </div>
</footer>
</body>
</html>
