<div class="jumbotron">
    <h1>Welcome {{player.alias || player.display}}</h1>

    <p class="lead" ng-if="!player.scans.length">
        Welcome to the QRHunt game for JCU Open Day 2014.<br/>
        All around Open Day you will see QR codes that you need to scan with your mobile phone.<br/>
        There
        <ng-pluralize count="gameCodes.length"
                      when="{'0': 'are no codes',
                     'one': 'is one code',
                     'other': 'are {} codes'}">
        </ng-pluralize>
        to locate! Scan as many as you can to win prizes, including an iPod Nano!
    </p>

    <p class="lead" ng-if="player.scans.length">
        It appears you're well on the way to locating all the codes!
        <br/>
        You've collected {{player.scans.length}} of {{gameCodes.length}} hidden codes. <br/>
        <strong ng-if="progress >=20 && progress < 50">Keep going!</strong>
        <strong ng-if="progress >=50">Congratulations!</strong>

    </p>

    <div class="progress" ng-if="gameCodes.length">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}"
             aria-valuemin="0" aria-valuemax="100"
             style="width: {{progress}}%;">
            {{progress}}%
        </div>
    </div>
</div>

<div class="row">


    <div class="col-xs-12 col-sm-6 col-md-4">
        <h4><i class="fa fa-gamepad"></i> How do I play?</h4>

        <p>There are a {{gameCodes.length}} QR Codes hidden in plain sight around campus displays. Locate these codes
            and scan them using your mobile phone, which will take you to the game's website. That's all you have to do
            for each code - scan it.</p>

        <p>You are looking for printed images like the one below: </p>
        <img id="hunt-code" src="./assets/homepage_qr_code.png" alt="QR-Hunt Code" class="img-responsive"/>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4">
        <h4><i class="fa fa-question"></i> What do I need to scan these codes?</h4>

        <p>Your mobile phone will need an app capable of reading the QR Codes for you. There are
            many capable apps available, however we recommend these <em>free</em> apps: </p>
        <ul>
            <li><i class="fa fa-android"></i> <a
                    href="https://play.google.com/store/apps/details?id=la.droid.qr.priva&hl=en" target="_blank">QR
                Droid Private</a>
                for Android Devices
            </li>
            <li><i class="fa fa-apple"></i> <a
                    href="https://itunes.apple.com/au/app/qr-code-reader-by-scan/id698925807?mt=8" target="_blank">QR
                Code Reader by Scan </a>
                for iOS Devices
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        <h4><i class="fa fa-gift"></i> Are there prizes?</h4>

        <p>Indeed there are! Every hour (1, 2, 3 and 4pm), IT@JCU will give out one <strong>16GB iPod Nano</strong> to
            the highest
            person on the leaderboard who is present in Education Central (building 134) when we announce the winner.
            Make sure you're there!
        </p>

        </p>You can also collect a lollipop after you have scanned 20% of the codes available. Come to the IT
        area in Education Central (building 134) to collect yours!</p>

        <h4><i class="fa fa-gift"></i> Can anyone win?</h4>

        <p>JCU staff and current JCU IT students are ineligible for the major prizes, but may win lollipops for
            participating. </p>

    </div>

</div>