<div class="jumbotron">
    <h1>Welcome {{player.alias || player.uuid}}</h1>

    <p class="lead" ng-if="!player.scans.length">
        Welcome to JCU Open Day 2014.<br />
        There have been numerous reports of QR codes lurking throughout the campus and we need your help to find them
        all!
        <br/>
        There
        <ng-pluralize count="gameCodes.length"
                      when="{'0': 'are no',
                     'one': 'is one code',
                     'other': '{} codes'}">
        </ng-pluralize>
        to locate! Hurry, as time is short!
    </p>

    <p class="lead" ng-if="player.scans.length">
        It appears you're well on the way to locating all the codes!

        <br/>
        You've collected {{player.scans.length}} of {{gameCodes.length}} hidden codes.
    </p>

    <div class="progress" ng-if="gameCodes.length">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}"
             aria-valuemin="0" aria-valuemax="100"
             style="width: {{progress}}%;">
            {{progress}}%
        </div>
    </div>
</div>